html {
    overflow: hidden;
}

body {
    margin: 0;
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #0d0d0c;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    background: #494a4a;

}

.header img {
    float: left;
    width: 120px;
    height: 100px;
    position: relative;
    padding-left: 50px;
    bottom: 10px;
}

.header img:hover {
    opacity: 0.5;
    transition: 0.3s;
}
  
.header span {
    position: relative;
    top: 0px;
    left: 50px;
}

.parallax-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box;
    /*transform-style: preserve-3d;*/
}
.parallax-wrapper::before {
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("images/encrypt/screenshot01.png");
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.divid {
    position: absolute;
    padding: 5px;
    width: 100%;
    background: #0082c6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.divid::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: #0082c6;
    z-index: -1;
}

.divid::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #0082c6;  
    z-index: -2;
    filter: blur(40px);
}

.regular {
    margin: 0 auto;
    width: 100%;
    background: #0d0d0c; 
}

.regular-wrapper {
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 100vh;
    padding-top: 20vh;
    background-color: #0d0d0c;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
}

.content img {
    margin: 0 auto;
    border: 5px solid #494a4a;
    width: 45%;
    position: relative;
    border: 5px solid #0d0d0c;
}

.glow-border {
    margin: 0 auto;
    border: 5px solid #0082c6; 
    width: 65%;
    position: relative;
    background: #0082c6;
    display: flex;
    z-index: -1;
}

.glow-border::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: #0082c6;
    z-index: -1;
}

.glow-border::after{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;  
    background-color: #0082c6;
    z-index: -2;
    filter: blur(40px);
}

.content {
    margin: 0 auto;
    padding: 10px;       
    background: #0d0d0c;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
    padding-left: 20px;
    font-family: 'Archivo Black', sans-serif;
    
}

p {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.content img {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 49%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    background-color: #d400c3;
    z-index: 10;
}


.footer {
    padding: 10px;
    width: 100%;
    background: #494a4a;
    bottom: 20vh;
}

.footer::before {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.footer img {
    float: left;
    width: 120px;
    height: 100px;
    position: relative;
    padding-left: 50px;
    bottom: 10px;
}

/* unvisited link */
a:link {
    color: #0082c6;
  }
  
  /* visited link */
  a:visited {
    color: #d400c3;
  }
  
  /* mouse over link */
  a:hover {
    color: #11a0af;
  }
  
  /* selected link */
  a:active {
    color: #74014b;
  }

 /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-image: url(images/assets/scrollbar-track.png);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: url(images/assets/scrollbar-pick.png);
  }